.container {
  margin: 0px 60px;
}

.section--hero {
  padding: 100px 50px;

  min-height: 65vh;
  margin-bottom: 50px;
  z-index: -1;
  /* background-color: rgba(0, 0, 0, 0.4); */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero--image {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hero--title {
  font-size: 3.4rem;
  font-weight: 700;
  width: 80%;
}

.hero--sub {
  font-size: 0.9rem;
  font-weight: 400;
  width: 80%;
  margin-bottom: 40px;
}

.primary--button {
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.primary--button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition-duration: 0.4s;
}

button:active {
  box-shadow: none;
}

button.focus {
  border-radius: white 1px solid;
}

@media (max-width: 1150px) {
  .hero--title {
    width: 100%;
  }

  .hero--sub {
    width: 75%;
  }

  .section--hero {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .section--hero {
    padding: 70px 10px;
  }

  .section--hero--left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero--title,
  .hero--sub {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0 15px;
  }
  .hero--title {
    line-height: 4rem;
  }
  .section--hero {
    padding-top: 50px;
  }
}

/* shadow */
/* background-color: rgb(34, 34, 34); */
/* box-shadow: 1px 4px 20px rgba(0, 0, 0, 1); */

.section--hero--right {
  width: auto;
  /* background-color: beige; */
  position: sticky;
}

.section--hero--right--card {
  background-color: rgb(25, 25, 25);
  position: absolute;
  height: 90%;
  width: 65%;
  top: 3%;
  left: 17.5%;
  border-radius: 40px;
}

.left--card {
  left: 2%;
  height: 60%;
  top: 24%;
  border-radius: 30px;
  opacity: 0.9;
  box-shadow: 0px 6.8px 9px rgba(0, 0, 0, 0.129),
    0px 22.8px 30.4px rgba(0, 0, 0, 0.191), 0px 102px 136px rgba(0, 0, 0, 0.32);
}

.right--card {
  left: 33%;
  height: 60%;
  top: 24%;
  opacity: 0.9;
  border-radius: 30px;
  box-shadow: 0px 6.8px 9px rgba(0, 0, 0, 0.129),
    0px 22.8px 30.4px rgba(0, 0, 0, 0.191), 0px 102px 136px rgba(0, 0, 0, 0.32);
}
.main--card {
  z-index: 2;
  object-fit: cover;
  box-shadow: 0px 2.1px 13.7px rgba(0, 0, 0, 0.067),
    0px 5px 33px rgba(0, 0, 0, 0.097), 0px 9.4px 62.1px rgba(0, 0, 0, 0.12),
    0px 16.8px 110.8px rgba(0, 0, 0, 0.143),
    0px 31.3px 207.2px rgba(0, 0, 0, 0.173), 0px 75px 496px rgba(0, 0, 0, 0.24);
}

.card--image {
  background-color: aqua;
  height: 60%;
  border-radius: 40px;
  overflow: hidden;
  object-position: center;
}

.main--image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
