.container {
  margin: 0px 60px;
}

.section--hero {
  padding: 100px 50px;
  border-radius: 30px;
  min-height: 65vh;
  /* background-color: rgba(0, 0, 0, 1); */
}

.title {
  font-size: 3.4rem;
  font-weight: 700;
  /* background-color: skyblue; */
  width: 55%;
}

.primary--button {
  padding: 12px 40px;
  background-color: rgba(68, 81, 88, 0.4);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.2rem;
  border: white 1px solid;
  /* box-shadow: 1px 4px 20px rgba(34, 34, 34, 0.3); */
  /* max-width: 200px; */
}

@media (max-width: 1150px) {
  .title {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .section--hero {
    padding: 75px 10px;
  }

  .section--hero--left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0 15px;
  }
}

/* shadow */
/* background-color: rgb(34, 34, 34); */
/* box-shadow: 1px 4px 20px rgba(0, 0, 0, 1); */
