.alchemy--container {
  padding: 100px 60px;
  display: flex;
  flex-direction: column;
}

.intro--title {
  color: white;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 200px;
}

.intro--choice--button {
  padding: 25px 50px;
  /* padding-bottom: 500px; */
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  border: 1px rgba(255, 255, 255, 0.7) solid;
  cursor: pointer;
}
