.alchemy--intro {
  padding: 100px 40px;
}

.intro--title {
  color: white;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.creation {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100%);
  width: 300px;
}

.alchemy--side--container {
  padding: 130px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(270deg, #6a4cdb);
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 7px 0px 15px #403089;
}

.flex {
  display: flex;
  align-items: center;
}

.alchemy--tab--title {
  font-size: 1.25rem;
}

.alchemy--section--right {
  position: absolute;

  top: 0;
  left: 300px;
  overflow: scroll;
  padding: 100px;
  height: 100vh;
  width: calc(100% - 300px);
  min-width: 940px;
}
.alchemy--section--right::-webkit-scrollbar {
  display: none;
}

.alchemy--section--title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
}
.alchemy--section--subtitle {
  color: white;
}

.alchemy--inputfield {
  color: white;
}

.alchemy--input {
  margin: 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: white;
}

.alchemy--payout {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 740px;
}

.align--middle {
  justify-content: center;
}

.alchemy--account--type {
  font-weight: 400;
  margin-top: 32px;
  width: 200px;
}
.alchemy--switch {
  margin-bottom: 15px;
}

.alchemy--input--group {
  margin-bottom: 30px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.alchemy--bottom--links {
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.alchemy--steps {
  height: 400px;
}
.alchemy--step {
  /* background-color: aquamarine; */
  color: white;
}

@media (max-width: 1400px) {
  /* .alchemy--background {
    position: fixed;
    background-color: rgb(126, 126, 126);
    width: 100%;
    height: 100%;
    /* left: 300px; 
    top: 0;
    z-index: 1; */
  /* } */
}

.alchemy--wallet--totalpercentage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2px;
}

.alchemy--confirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 200px;
}

.alchemy--confirmation--result {
  width: 200px;
  margin-left: -150px;
}

.wallet {
  padding-right: 0;
}
