.header {
  z-index: 1;
  width: 100%;
  align-items: center;
  /* background-color: rgb(180, 180, 180); */
  display: flex;
  padding: 25px 60px;
  justify-content: space-between;
}

.header--logo {
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 500;
}

.header--logo--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header--nav {
  display: flex;
  align-items: center;

  list-style-type: none;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.header--connect {
  background-color: #38a390;
  padding: 7.5px 20px;
  margin: 0px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 600;
  /* box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25); */
}

.header--logo--bolder {
  font-weight: 700;
}

li {
  margin-left: 60px;
}

.header--nav--link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.header--nav--link:hover,
a:hover {
  color: #38a390;
  transition-duration: 0.3s;
}

a {
  text-decoration: none;
  color: white;
}
